.imagetext {
  // Structure & Spaces(paading margin)
  @include flex-center;
  .container {
    @include grid12;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
  .btn,
  .link {
    font-size: 1.125em;
    height: 2.25em;
  }

  .buttons--wrapper {
    grid-auto-flow: row;
    margin: unset;
    min-width: 150px;
  }

  &__textbox,
  &__image {
    grid-row: 1;
  }
  &__textbox {
    row-gap: 2.5rem;
    .content {
      row-gap: 1.5rem;
    }
  }
  // Option: image-first / text-first & Ratio
  .image-first {
    .imagetext__image {
      order: 1;
    }
    .imagetext__textbox {
      margin-left: 5%;
      order: 2;
    }
    &.ratio {
      &--6-6 {
        .imagetext__image {
          grid-column: span 6;
        }
        .imagetext__textbox {
          grid-column: span 6;
        }
      }
      &--5-7 {
        .imagetext__image {
          grid-column: span 5;
        }
        .imagetext__textbox {
          grid-column: span 7;
          .buttons--wrapper {
            grid-auto-flow: column;
            @media only screen and (max-width: $bp-largest) {
              grid-auto-flow: row;
            }
          }
        }
      }
      &--7-5 {
        .imagetext__image {
          grid-column: span 7;
        }
        .imagetext__textbox {
          grid-column: span 5;
        }
      }
    }
  }

  .text-first {
    .imagetext__textbox {
      margin-left: 0;
      margin-right: 5%;
      order: 1;
    }
    .imagetext__image {
      order: 2;
    }
    &.ratio {
      &--6-6 {
        .imagetext {
          &__textbox {
            grid-column: span 6;
          }
          &__image {
            grid-column: span 6;
          }
        }
      }
      &--5-7 {
        .imagetext {
          &__textbox {
            grid-column: span 5;
          }
          &__image {
            grid-column: span 7;
          }
        }
      }
      &--7-5 {
        .imagetext {
          &__textbox {
            grid-column: span 7;
            .buttons--wrapper {
              grid-auto-flow: column;
              @media only screen and (max-width: $bp-largest) {
                grid-auto-flow: row;
              }
            }
          }
          &__image {
            grid-column: span 5;
          }
        }
      }
    }
  }

  //box design
  &.box-design .container {
    padding-left: 3%;
    padding-right: 3%;
  }
  //space between box-design and screen

  // Media Queary
  @media only screen and (max-width: $bp-largest) {
    &.box-design .container {
      margin-left: 3%;
      margin-right: 3%;
      & > * {
        margin-left: -3%;
        margin-right: -3%;
      }
    }
    .container {
      @include sidePaddingBig;
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      .heading {
        text-align: center;
      }
      .buttons--wrapper {
        grid-auto-flow: row;
        margin: auto;
        width: 66.66%;
        max-width: 300px;
      }
      > * {
        order: unset !important;
        margin: unset !important;
      }
    }
  }
}
