.image-gallery {
  padding-bottom: 160px;

  .container {
    .gallery-wrapper {
      
      @include flex(row, unset);
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 25px;
      column-gap: 25px;
      position: relative;
      
      .caption {
        display: none;
      }

      .close {
        display: none;
      }

      
      .single-img {
        width: 312px;
        height: 242px;
        object-fit: none;
        position: relative;
        z-index: 2;
        
      }
      .single-img:hover {
        opacity: 0.75;
        cursor: pointer;
      }
      div {
        width: 363px;
        height: 242px;
        background-color: white; /* Hintergrundfarbe beim Hover */
    }
      
    }
  }

  .button-slider {
    display: none;
  }

  .text_wrapper {
    width: 100vw;
    padding-top: 15%;
    position: absolute;
    top: 50%;
    padding-left: 10%;
    padding-right: 10%;
    //left: 50%;
    
  }


  //when lightbox active
  .popped {
    overflow-y: hidden;

    .header {
      display: none;
    }

    .lightbox {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      // background-color: rgba(153, 49, 49, 0);
      z-index: 9;

      .caption {
        display: flex;
        color: $c-f-white;
        width: 80vw;
        max-width: 560px;
        margin-left: 5vw;
        font-size: 21px;
      }

      .close {
        display: flex;
        color: $c-f-red;
        font-size: 30px;
        //font-weight: 300; //Download needed
        top: 30px;
        right: 30px;
        position: fixed;
      }

      .single-img {
        width: 80vw;
        min-width: 320px;
        max-width: 1920px;
        height: auto;
        object-fit: none;

      }

    }
  }

  @media screen and (max-width: $bp-tablet) {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    
    .gradient-border-shadow::after,
    .gradient-border-shadow::before {

      all: unset
    
    }
    .container {
      
      display: flex;
      flex-wrap: nowrap;
      /* Verhindert das Umbruch in die nächste Zeile */
      gap: 10px;
      /* Abstand zwischen den Elementen */
      height: 300px;
      overflow: hidden;



      .gallery-wrapper {
        $image-width: 312px;
        $padding-left: 5vw;
        padding-left: calc((100vw - #{$image-width}) / 2 - #{$padding-left});
        flex-wrap: nowrap;
        row-gap: 10px;
        column-gap: 10px;
        display: flex;
        transition: transform 0.5s ease;
        div {
          width: 312px;
          height: 208px;
        }
        .single-img {
          width: 312px;
          height: 208px;
          object-fit: none;
        }

      }


      .image-wrapper {
        flex: 0 0 300px;
        /* Stellt sicher, dass jedes Element 300px breit ist */
        height: 200px;
        /* Stellt sicher, dass jedes Element 200px hoch ist */
        margin-right: 10px;
        /* Abstand zwischen den Bildern */
      }

      .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Passt das Bild an die Größe des Containers an */
      }

      .caption,
      .close {
        display: none;
      }
    }

    .text_wrapper {
      
      padding-top: 0px;
      position: unset;
      text-align: left;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .buttons-slider {
      margin: auto;
      justify-content: space-between;
      align-items: center;
      display: flex;

      .button-slider {
        width: 100px;
        height: 50px;
        display: inline-block;
        background-color: transparent;
        /* Beispielhintergrundfarbe */
        color: #3C3C3C;
        /* Beispieltextfarbe */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;

      }

      .image-circle-gallery {
        
        order: 2;
        display: flex;
        justify-content: center;
        gap: 10px; 
        .collected-image-circle {
          width: 10px;
          /* Durchmesser des Kreises */
          height: 10px;
          /* Durchmesser des Kreises */
          background-color: black;
          /* Farbe des Kreises */
          border-radius: 50%;
          /* Macht das Element rund */
        }
      }

      .button-slider.left {
        order: 1;
      }

      .button-slider.right {
        order: 3;
      }

    }
  }

}