.video-block {
  .container {
    width: 100%;
    align-items: center;
    .Headline {
      padding-bottom: 50px;
      padding-left: 190px;
      padding-right: 190px;
      font-family: "Barlow Semi Condensed";
    }
    .video-thumbnail {
      display: inline-block;
      position: relative;
      width: 100%;
      overflow: hidden;

      .icon-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ff0000;
        width: 142px;
        height: 93px;
        border-radius: 30px;

        .icon-arrow {
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        position: relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 30px solid white; /* Weißer Pfeil nach rechts */
        background-color: #ff0000;

        }
        
      }
    }

    .video-thumbnail::before {
      content: "";
      display: block;
      padding-top: 56.25%; /* 16:9 Verhältnis (9 / 16 * 100) */
    }

    .video-thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Optional: um das Bild zu beschneiden und das Seitenverhältnis beizubehalten */
    }

    .text {
      padding-top: 50px;
      padding-left: 190px;
      padding-right: 190px;
      font-family: "Barlow";
    }
  }

  @media screen and (max-width: $bp-tablet) {

    .container {
        .Headline {
            padding-bottom: 50px;
            padding-left: 5%;
            padding-right: 5%;
            font-family: "Barlow Semi Condensed";
        }
      .video-thumbnail {
        display: inline-block;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
        font-family: "Barlow";
      }
    }
  }
}
