.testimonial {
  @include flex-center;
  // Basic structure
  .container {
    align-items: start;
    @include grid12;
  }

  .image,
  .textbox {
    grid-row: 1;
  }
  .image {
    grid-column: 2 / span 2;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @include flex-center;
    img {
      position: absolute;
      top: 0;
    }
  }
  .textbox {
    margin-left: 40px;
    grid-column: span 8;
    @include flex(column);
    .quote {
      font-size: 1.75rem;
      font-style: italic;
      margin-bottom: 2.5rem;
      line-height: 1.25;
      &::before {
        content: open-quote;
      }
      &::after {
        content: close-quote;
      }
    }
    .name,
    .role {
      font-size: 16px;
    }
  }
  // option small / big
  .small {
    max-width: 558px;
    .image {
      grid-column: 2 / span 2;
    }
    .textbox {
      // grid-column: 5 / span 5;
      margin: unset;
      .quote {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  // option Foto|Zitat / Zitat|Foto
  .text-image {
    .textbox {
      margin-left: unset;
      margin-right: 40px;
      grid-column: 2 / span 8;
    }
    .image {
      grid-column: span 2 / -2;
    }
    &.small {
      .textbox {
        grid-column: 4 / span 5;
      }
      .image {
        grid-column: 9 / span 1;
      }
    }
  }

  @media only screen and (max-width: $bp-largest) {
    &.box-design .container:not(.small) {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
  @media only screen and (max-width: $bp-tablet) {
    &.box-design .container {
      margin-left: 3%;
      margin-right: 3%;
    }
    .container:not(.small) {
      max-width: 558px;
      margin: 0px 5%;
      @include flex(column, 40px);
      .image {
        width: 170px;
      }
      .textbox {
        margin: 0 3%;
        text-align: center;
        .quote {
          font-size: 20px;
        }
        .name {
          font-size: 14px;
        }
        .role {
          font-size: 12px;
        }
      }
    }
    .container.small {
      display: flex;
      padding: 48px 40px;
      .image {
        width: 80px;
        margin-right: 24px;
        align-self: start;
      }
      .textbox {
        width: calc(100% - 104px);
        .role {
          font-size: 14px;
        }
      }
    }
  }
}
