.textbox {
  // structure
  .container,
  .textbox__text {
    @include flex(column, 2.5rem);
  }
  .textbox__text {
    &-container {
      @include grid12;
    }
    grid-column: col-start 2 / col-end 11;
  }

  // //background & Box-design options with button color changes
  // @include bg-feature(".container");

  // Media Queary
  @media only screen and (max-width: $bp-smallfont) {
    .buttons--wrapper {
      grid-auto-flow: row;
      min-width: 60%;
    }
  }
}
