.footer {

  .container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    flex-wrap: wrap;
    row-gap: $row-gap--small;
  }
  .info,
  .navigation {
    &__heading {
      @include regular-fs(normal);
      font-weight: 500;
      margin-bottom: 1em;
    }
    &__content {
      @include regular-fs(base);
      a {
        text-decoration: none;
      }
      ul li:before {
        content: "- ";
      }
    }
    width: unset;
  }
  .info {
    min-width: 400px;
    width: 50%;
  }
  .left {
    margin-right: 10%;
  }
}
