.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem auto;
  }
  &__logo-box {
    width: 50%;
    max-width: 207px;
    margin-left: 0;
  }
  .navigation {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: aquamarine;

    $nav-bg-width: 1920px;
    $header-width: 1140px;
    left: calc(($nav-bg-width - $header-width) / 2 * -1);
    width: $nav-bg-width;
    height: 3000px;
    z-index: 40;
    display: none;

    & > * {
      width: 1140px;
      margin: auto;
      padding: 1rem 5%;
    }
  }
  .hamburger__checkbox:checked ~ .navigation {
    display: block;
  }
}
