.bg-black {
    $f-color: $c-f-white;
    $bg-color: $c-bg-black;
  
    color: $f-color;
    background: $bg-color;
  
    
    &.module {
      background: $bg-color;
    }
    .gradient-border-shadow {
      @include gradient-border-shadow($bg-color);
    }
    .btn-empty {
      background-color: $bg-color;
    }
  

&.bg-oval {
position: relative;
padding-top: 200px;
padding-bottom: 200px;
background-color: transparent;

&::before {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 160vw;
    height: 100%;
    overflow: hidden;
    background-color: $c-bg-black;
    margin-left: -30vw;
    margin-right: -30vw;
    transform: rotate(180deg);
z-index: -1;
@media screen and (max-width: $bp-tablet) {
  width: 300vw;
  margin-left: -100vw;
    margin-right: -100vw;
    transform: rotate(198deg);
}
}

&.oval-var-1::before {
    border-top-left-radius: 34%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 57%;
  }
  
 &.oval-var-2::before {
    border-top-left-radius: 68%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 57%;
    border-bottom-left-radius: 30%;

    @media screen and (max-width: $bp-tablet) {

    border-top-left-radius: 52%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 46%;
  border-bottom-left-radius: 30%;
    }
}
}
}


  
  
  