*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  //Remove Gray Highlight When Tapping Links in Mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
}
.module {
  margin: 2rem auto;
}
.container {
  max-width: 1140px;
  margin: auto;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-editor {
  & > * {
    margin: 1rem auto;
  }

  ul {
    list-style: disc;
  }
  ol,
  ul {
    margin-left: 2.5em;
  }
  blockquote {
    margin: 1rem 2.5rem;
  }
}
