//	================================================
//	Button
//	================================================

.btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  padding: 0 1em;
  transition: background-color 0.5s, box-shadow 0.5s;
  border: 0;
  border-radius: 8px;
  outline: 0;
  text-decoration: none;
  color: inherit;
  // border: solid 0.25px black;
  // box-shadow: 0 3px 10px rgba(27, 26, 27, 0.2);
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;

  &--fill {
    background-color: $c-green-middle;
    color: $color-white;
    &:hover {
      background-color: $c-green-dark;
    }
  }
  &--empty {
    background-color: none;
    color: $c-green-middle;
    outline-offset: -2px;
    outline: solid 2px $c-green-middle;
    &:hover {
      color: $c-green-dark;
      outline-color: $c-green-dark;
    }
  }
  // &--underline {
  //   background-color: none;
  //   color: $color-black;
  //   box-shadow: none;
  //   text-decoration: underline;
  //   text-underline-offset: 8px;
  // }
}
.link {
  &--underline {
    background-color: none;
    color: $color-black;
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}

.buttons--wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  // min-width of a button: 150px
  min-width: 324px;
  max-width: fit-content;
  margin: auto;
  column-gap: 24px;
  row-gap: 1em;
  padding-bottom: 1em;

  .link {
    grid-row: 2;
  }
  .btn,
  .link {
    font-size: 1.125em;
    height: 2.25em;
  }
}
