//	================================================
//	Button
//	================================================

.link {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  padding: 0 1em;
  transition: background-color 0.5s, box-shadow 0.5s;
  border: 0;
  border-radius: 8px;
  outline: 0;
  text-decoration: none;
  color: inherit;
  border: solid 0.25px black;
  box-shadow: 0 3px 10px rgba(27, 26, 27, 0.2);
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;

  // &:hover {
  // }

  // &:active,
  // &:focus {
  // }
  &--underline {
    background-color: none;
    color: $color-black;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}
