.scrollup-button {
  position: fixed;
  left: calc(50% + 700px);
  bottom: 40px;
  z-index: 2;
  height: 40px;
  aspect-ratio: 1/1;
  border: 1px solid #ffffff;
  border-radius: 4px;
  visibility: hidden;
  &.btn {
    padding: unset;
    box-shadow: unset;
  }
  &:hover {
    box-shadow: unset;
  }
}
