.column-3 {
  display: flex;
  &-1 {
    width: 33.33%;
  }
  &-2 {
    width: 66.66%;
    padding-left: $column-gap--big;
  }
}

.column-2 {
  display: flex;
  & > * {
    width: 50%;
  }
}

//  background option
.bg-black {
  $f-color: $c-f-white;
  $bg-color: $c-bg-black;

  color: $f-color;
 

  &.module {
    background: $bg-color;
  }
  .gradient-border-shadow {
    @include gradient-border-shadow($bg-color);
  }
  .btn-empty {
    background-color: $bg-color;
  }
}

.bg-oval {
  margin-left: -30vw;
  margin-right: -30vw;
  padding-top: 100px;
  padding-bottom: 100px;
}

.oval-var-1 {
  border-top-left-radius: 34%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 57%;
   
}

.oval-var-2 {
  border-top-left-radius: 68%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 57%;
    border-bottom-left-radius: 30%;
}
