// GRID
$grid-total-width: 1140px;
$gird-column-width: 73px;
$gutter-vertical: 24px;
$gird-column-fullwidth: 95px; //1140/12 = 95

@mixin grid12 {
  display: grid;
  grid-template-columns:
    [center-start] repeat(
      12,
      [col-start] minmax(0px, $gird-column-width) [col-end]
    )
    [center-end];
  column-gap: $gutter-vertical;
  align-items: center;
}

.grid12 {
  @include grid12;
}

.grid12-3 {
  grid-column: span 3;
}
.grid12-5 {
  grid-column: span 5;
}
.grid12-6 {
  grid-column: span 6;
}
.grid12-7 {
  grid-column: span 7;
}
.grid12-10 {
  grid-column: 2 / span 10;
}

.flex {
  display: flex;
  &-col {
    flex-direction: column;
  }
}
.flexible {
  flex-grow: 1;
}
