@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// side padding for small screen
@mixin sidePaddingBig {
  max-width: unset;
  padding-left: 7%;
  padding-right: 7%;
}
@mixin sidePadding {
  max-width: unset;
  padding-left: 2%;
  padding-right: 2%;
}

@mixin bg($src, $repeat: no-repeat, $pos: null, $color: null, $size: null) {
  @if $color != null {
    background-color: $color;
  }
  background-image: url("../img/#{$src}");
  @if $pos != null {
    background-position: $pos;
  }
  @if $size != null {
    background-size: $size;
  }
  background-repeat: $repeat;
}

@mixin flex($dir, $gap: unset) {
  display: flex;
  flex-direction: $dir;
  @if $dir == column {
    row-gap: $gap;
  } @else if $dir == row {
    column-gap: $gap;
  }
}

@mixin bg-feature($target, $font-color-w-bg: $color-white) {
  // Option: background color / box design
  // bg-color :
  //.bg-blue
  //.bg-blue-light
  //.bg--blue-gradient
  // box-design target: .container
  // when the bg exit:
  // font-color: $color-white;
  &.box-design #{$target} {
    border-radius: 8px;
  }
  &.box-design.bg--none #{$target} {
    border: 1px solid $color-gray-light;
  }
  &.bg--blue-light {
    &:not(.box-design),
    &.box-design #{$target} {
      background-color: $color-blue-light;
    }
  }

  &.bg--blue-dark {
    &:not(.box-design),
    &.box-design #{$target} {
      background-color: $color-blue-dark;
    }
  }
  &.bg--blue-gradient {
    &:not(.box-design),
    &.box-design #{$target} {
      background: linear-gradient(
        180deg,
        $color-blue-light 0%,
        $color-blue-dark2 100%
      );
    }
  }
  &.bg--blue-light,
  &.bg--blue-dark,
  &.bg--blue-gradient {
    color: $font-color-w-bg;
    .text {
      color: $font-color-w-bg;
    }
    .btn--fill {
      background-color: $font-color-w-bg;
      color: $color-blue-light;
      border: solid 2px $font-color-w-bg;
    }
    .btn--empty {
      color: $font-color-w-bg;
      border: solid 2px $font-color-w-bg;
    }
    .link--underline {
      color: $font-color-w-bg;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-scrollbar {
  //disable scrollbar
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
