.contactform {
  .container {
    @include flex(row, unset);
    justify-content: space-between;

    .gform_required_legend {
      display: none;
    }

    .contactform-wrapper {
      margin-left: 40px;
      padding: 25px 86px;
      font-family: $ff-barlow-semi-condensed;
      font-weight: 600;
      position: relative;
      .gfield {
        @include flex(column, unset);
        // padding-bottom: 25px;
      }

      &.column-3-2::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
      }
      .textarea {
        height: 180px;
      }
      .ginput_container {
        order: 1;
        overflow: visible;
        position: relative;

        input,
        textarea {
          border: none;

          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;

          font-size: 21px;
          line-height: 1.8em;
          width: 100%;
          display: block;
          padding: 5px;

          &:hover,
          &:active,
          &:focus {
            outline: 2px solid $c-f-red;
          }
        }

        .ginput_counter {
          opacity: 0.5;
          font-weight: normal;
          position: absolute;
          bottom: -35px;
          right: 0;
          font-size: 18px;
        }
      }

      .gfield_label {
        order: 2;
        padding-top: 5px;
        margin-top: 5px;
        position: relative;
        padding-bottom: 10px;
        font-size: 21px;
        font-family: "Barlow Semi Condensed";
        //    @include gradient-border-feature;

        &::before {
          height: 1px;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(45deg, #e05976, #9a60c2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Schatten hinzufügen */
        }
      }

      .gform_footer {
        // @include gradient-border-btn;
        padding: 0;

        &::before {
          z-index: 0;
        }
        #gform_submit_button_1 {
          background: transparent;
        }

        .btn--empty {
          height: 100%;
          font-size: 21px;
          font-weight: 600;
        }
        .button::before {
          content: "";
        }
      }
    }
  }

  @media screen and (max-width: $bp-tablet) {
    .container {
      padding: 0px;
      @include flex(column, $row-gap--small);

      .image-wrapper {
        order: 1;
        max-width: 380px;
        width: 60vw;
        margin-left: auto;
        img {
          transform: translateX(10%);
        }
      }
      .contactform-wrapper {
        padding: 20px;
      }

      .column-3-1 {
        padding: 20px;
        width: 100%;
        h2 {
          margin-bottom: 20px;
          font-family: "Barlow Semi Condensed";
          font-size: 30px;
        }
        p {
          font-family: "Barlow";
          font-size: 17px;
          line-height: 1.8em;
        }
      }
      .column-3-2 {
        text-align: left;
        font-size: 21px;
        width: 100%;
        margin: 0px;
      }
    }
  }
}
