.teaser {
  // structure
  position: relative;
  .container {
    @include flex-center;
  }
  &__content,
  &__text {
    @include flex(column, 3.5rem);
  }

  // color, background image
  &__bg-image {
    opacity: 1;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }
  &__bg-gradient {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  //Gradient Option
  &.bg-g--top-gray {
    .teaser__bg-gradient {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  &.bg-g--bottom-gray {
    .teaser__bg-gradient {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  // $c-blue-middle: #005b94;
  // $c-blue-dark: #002f4d;
  // $c-blue-light: #e5f5ff;
  // $c-gray-dark: #262626;
  //   blue-middle : blau (mittel)
  // blue-dark : blau (dunkel)
  // gray-light : grau (hell)
  // white : weis
  $teaser-color-system: (
    blue-middle: (
      f-color: $c-blue-middle,
    ),
    blue-dark: (
      f-color: $c-blue-dark,
    ),
    gray-dark: (
      f-color: $c-gray-dark,
    ),
    white: (
      f-color: $c-white,
    ),
  );

  @each $label, $map in $teaser-color-system {
    .fc--#{$label} {
      color: map-get($map, f-color);

      @if $label == white {
        @include button_color($c-white, $c-gray-dark, $c-gray-light);
      }
    }
  }

  // Height Option
  .height {
    &--90vh {
      height: calc(90vh - #{$header-height});
    }
    &--75vh {
      height: calc(75vh - #{$header-height});
    }
    &--50vh {
      height: calc(50vh - #{$header-height});
    }
  }
  // Media Queary
  @media only screen and (max-width: $bp-largest) {
    .container {
      @include sidePadding;
    }
  }
  @media only screen and (max-width: $bp-smallfont) {
    .buttons--wrapper {
      grid-auto-flow: row;
      min-width: 60%;
    }
  }
}
