.contact {
  //structure
  .container--inner {
    @include flex(row, 24px);
    padding: 40px;
    border-radius: 8px;
    max-width: 750px;
    flex-grow: 1;
    margin: 2%;
  }

  .profilbild_wrapper {
    max-width: 228px;
  }

  .profilbild {
    border-radius: 50%;
  }

  .details {
    padding: 24px 0px 24px 40px;
  }

  h4 {
    color: $c-blue-dark;
    font-size: 24px;
    font-weight: 700;
  }

  .rolle {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 40px;
  }

  .email {
    display: block;
    padding-bottom: 0.5em;
    font-size: 16px;
  }

  .fa-linkedin {
    font-size: 30px;
  }

  // Media Queary
  @media only screen and (max-width: $bp-smallfont) {
    .container--inner {
      max-width: 400px;
      align-items: center;
      padding-left: 1em;
      padding-right: 1em;
      @include flex(column, 24px);
      .profilbild_wrapper {
        width: 225px;
        aspect-ratio: 1/1;
      }
      .details {
        text-align: center;
        padding-left: 0;
      }
    }
  }
}
