.bg_image_hero {
  overflow: visible;
  margin-top: 0;
  padding-top: 10rem;
  z-index: -1;
  background-repeat: no-repeat;

  &::before {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    top: 0;
    z-index: -2;
  }

  .container {
    @include flex(row, unset);
    justify-content: space-between;

    .content-wrapper {
      @include flex(column);
      width: 55%;
      color: #fff;
    }
  }

  .contact {
    position: relative;
    top: 20vh;

    .image-wrapper {
      width: 380px;
    }
  }
}
@media screen and (max-width: $bp-tablet) {
  .container {
    @include flex(column, $row-gap--small);
    .image-wrapper {
      order: 1;
      max-width: 380px;
      width: 60vw;
      margin-left: auto;
      img {
        transform: translateX(10%);
      }
    }
    .content-wrapper {
      order: 2;
      width: 100%;
      // row-gap: $row-gap--small;
    }
  }
}

/* .background_image_section {
  margin-top: 0;
  /*
  padding-top: 10rem;
  
  

  
    .container {
      display: grid;
      grid-template-columns: 55% 380px;
            justify-content: space-between;
            grid-template-rows: max-content max-content max-content;
  
      .content-wrapper {
        grid-column: 1/2;
      }
  
      .contact {
        grid-column: 2/3;
        grid-row: 1/3;
      }

      .long-copy {
        grid-column: 1/2;
        grid-row: 3/4;
      }


    }
    @media screen and (max-width: $bp-tablet) {
      .container {
        @include flex(column, $row-gap--small);
        .image-wrapper {
          order: 1;
          max-width: 380px;
          width: 60vw;
          margin-left: auto;
          img {
            transform: translateX(10%);
          }
        }
        .content-wrapper {
          order: 2;
          width: 100%;
          // row-gap: $row-gap--small;
        }
      }
    }
  } */
